input[type='time'] {
  position: relative;
  width: 100%;
  padding-left: 24px;
  background: url(/icons/clock.svg) no-repeat left center / 16px auto;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}

input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-clear-button {
  display: none;
}

input[type='time']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
input[type='time']::before {
  content: attr(data-placeholder);
  width: 100%;
}
input[type='time']:focus::before,
input[type='time']:valid::before {
  display: none;
}
input[data-placeholder]::before {
  color: #bdbdbd;
  position: absolute;
}

input[type='time']:invalid::-webkit-datetime-edit-text,
input[type='time']:invalid::-webkit-datetime-edit-second-field,
input[type='time']:invalid::-webkit-datetime-edit-ampm-field,
input[type='time']:invalid::-webkit-datetime-edit-minute-field,
input[type='time']:invalid::-webkit-datetime-edit-hour-field {
  -webkit-appearance: none;
  display: none;
}
